.ch-primary {
  color: #666666;
}

.ch-secondary {
  color: #B4B4B4;
}

.ch-redContainer .ch-container-primary {
  color: #FEC404;
}

.ch-redContainer .ch-container-secondary {
  color: #DA5C17;
}

.ch-greenContainer .ch-container-primary {
  color: #56D731;
}

.ch-greenContainer .ch-container-secondary {
  color: #016A01;
}

.ch-blueContainer .ch-container-primary {
  color: #08CCE5;
}

.ch-blueContainer .ch-container-secondary {
  color: #045268;
}
