body {
  margin: 0;
}

.ch-chart-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  padding: 0 12%;
}

.ch-chart-item {
  display: flex;
  flex-direction: column;
}

.ch-chart-itemData {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #B4B4B4;
}

.ch-chart-itemData-stack {
  margin-right: 40px;
}

.ch-chart-itemData > .ch-chart-itemData-stack:last-child {
  margin-right: 0;
}

.radiusChartContainer {
  text-align: center;
}

.radiusChartContainer > .highcharts-container  {
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .ch-chart-container {
    padding: 0;
  }
}
