body {
  margin: 0;
}

.ch-chart-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  padding: 0 12%;
}

.ch-chart-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #B4B4B4;
}

.ch-chart-item-stack {
  margin-right: 40px;
}

.ch-chart-item > .ch-chart-item-stack:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .ch-chart-container {
    padding: 0;
  }
}
